@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: Inter, Bold;
}

body {
  background-image: url(/images/Fundo-Tela-de-Inicio.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}



main {
  border: 4px solid darkblue;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  padding-top: 2rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: var(--strong-blue);
  border-radius: 1rem;
}

h1 {
  flex-direction: column;
  text-decoration: none;
  font-family: Inter;
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  color: var(--white);
}

a {
  color: var(--white);
  text-decoration: none;
}


ul {
  list-style-type: none;
  font-size: 0.67rem;
  margin-left: 0.5rem
}


input {
  border: none;
  border-radius: 1rem;
  margin-bottom: 0.8rem;
  padding: 6px;
}

input:hover {
  background: white;
  cursor: pointer;

  transform: scale(0.9);
  transition: transform .3s;
}

button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 15px;
  border: none;
  margin-top: 1rem;
  background: #A0C1D1;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

button:hover {
  background: #CFE8EF;
  cursor: pointer;

  transform: scale(0.9);
  transition: transform .3s;
  color: black;
}

img:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: transform .3s;
}