.logo-login {
  width: 7.5rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
}

.logar {
  border: none;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--white);
  border-radius: 1rem;
  padding: 0.5rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  background-color: var(--normal-blue);
}

.criar-conta {
  margin-left: 0.5rem;
}

Voltar {
  margin-left: 2rem;
  color: white;
  background-color: var(--dark-blue);
  padding: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  justify-content: center;
}